:root {
  --basic-color: #544037;
  --shadow: #dfcdab 1px 1px 10px, #dfcdab -1px -1px 10px, #dfcdab -1px 1px 10px,
    #dfcdab 1px -1px 10px;
  --shadow-dark: #544037 1px 1px 10px, #544037 -1px -1px 10px,
    #544037 -1px 1px 10px, #544037 1px -1px 10px;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  min-height: 100vh;
  margin: 0;
  font-size: 20px;
  font-weight: 700;

  font-family: 'Comfortaa', cursive;
  background-image: url('./images/pattern.jpg');
  background-color: wheat;
  color: var(--basic-color);
  text-align: center;
}

h1 {
  margin: 0;

  font-size: 50px;
  font-weight: 700;
  text-shadow: var(--shadow);
}

ul {
  margin: 0;
}

li {
  list-style: none;
}

input {
  padding: 10px;
  font-family: 'Comfortaa', cursive;
  font-size: 15px;
  border: 1px solid black;
  border-radius: 6px;
  background-color: wheat;
  color: var(--basic-color);
  outline: none;
}

.input-container {
  margin-top: 50px;
}

input::placeholder {
  color: var(--basic-color);
  font-family: 'Comfortaa', cursive;
  font-size: 15px;
}

.search-form {
  margin-top: 15px;
}

.btn {
  display: inline-block;
  height: 38px;
  width: 150px;
  border-radius: 6px;
  border: 6px solid #ffffff;
  border: none;
  color: #ffffff;
  background-color: var(--basic-color);
  text-align: center;
  cursor: pointer;
  outline: none;
  font-family: 'Comfortaa', cursive;
  font-size: 18px;
}

.load-more {
  margin-top: 15px;
  margin-bottom: 50px;
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

/* Gallery */

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

  align-items: center;
  padding: 15px;
}

.photo-card {
  margin: 10px;
  width: 390px;
  height: 325px;
  overflow: hidden;
  background-color: wheat;
  border-radius: 6px;

  box-shadow: var(--shadow-dark);

  cursor: pointer;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.photo-card:hover {
  transform: scale(1.03);
}

.image {
  display: block;
  height: 260px;
  width: 100%;
  object-fit: cover;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.stats {
  display: flex;
  justify-content: space-between;
  padding-left: 20px;
  padding-right: 20px;
}

.stats-item:hover {
  transform: scale(1.1);
}
.material-icons {
  vertical-align: text-bottom;
}
